@import "tailwindcss";

@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@import 'swiper/css/a11y';


@theme{

}


@layer base {

}

@layer components {
    /* Used in ./src/Components/Navbar.jsx */
	.nav-hamburger-icon {
		opacity: 1;
		transform: rotate(0deg) scale(1);
		transition: opacity 0.3s, transform 0.4s;
		z-index: 2;
	}
	.peer:checked ~ label .nav-hamburger-icon {
		opacity: 0;
		transform: rotate(180deg) scale(0.7);
	}
	.nav-close-icon {
		opacity: 0;
		transform: rotate(-180deg) scale(0.7);
		transition: opacity 0.3s, transform 0.4s;
		z-index: 3;
	}
	.peer:checked ~ label .nav-close-icon {
		opacity: 1;
		transform: rotate(0deg) scale(1);
	}
}

/* Used for Swiper Slides in ./src/Pages/Home.jsx */
.swiper {
	--swiper-pagination-bottom: -60px;
	--swiper-pagination-bullet-size: 30px;
	--swiper-pagination-color: #E0A552;
	--swiper-pagination-bullet-inactive-color: #D9D9D9;
	--swiper-pagination-bullet-inactive-opacity: 1;
	--swiper-navigation-color: #6F151C;
	overflow: visible;
}

.swiper-slide img {
    width: 100%;
    height: auto;
}