@import "tailwindcss";


@theme{

}


@layer base {

}

@layer components {
    /* Used in ./src/Components/Navbar.jsx */
	.nav-hamburger-icon {
		opacity: 1;
		transform: rotate(0deg) scale(1);
		transition: opacity 0.3s, transform 0.4s;
		z-index: 2;
	}
	.peer:checked ~ label .nav-hamburger-icon {
		opacity: 0;
		transform: rotate(180deg) scale(0.7);
	}
	.nav-close-icon {
		opacity: 0;
		transform: rotate(-180deg) scale(0.7);
		transition: opacity 0.3s, transform 0.4s;
		z-index: 3;
	}
	.peer:checked ~ label .nav-close-icon {
		opacity: 1;
		transform: rotate(0deg) scale(1);
	}

	.clip-card {
		clip-path: polygon(
			0% 8%,
			6% 0%,
			100% 0%,
			100% 92%,
			94% 100%,
			0% 100%
		);
		will-change: transform;
		transform: translateZ(0);
	}
}